.main{
    display: flex;
    flex-wrap: wrap
    /* position: relative; */
}
.main .box {
    height: 25px;
    width: 25%;
    background: black;
    color: white;
    text-align: center;
    font-style: bold;
    }
